header{
  background-color: #0177b9;
  height: 67px;
}

header img{
  height: 50px;
}
header .col-md-12{
  display: flex;
  justify-content: space-between ;
}

div #box{
  width: 60%;
  height: 450px;

}